<div class="members-container">
  <div class="members-container1">
    <div class="members-container2">
      <h1 class="members-text">[DMT] Dimensional Mind Travelers</h1>
      <app-header rootClassName="header-root-class-name1"></app-header>
    </div>
  </div>
  <div class="members-container3">
    <div class="members-container4">
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="members-image"
      />
      <div class="members-container5">
        <span>This is the text about the member. Dabi-di Dabi-da.</span>
      </div>
    </div>
  </div>
</div>
