<div class="container-container" [ngClass]="rootClassName">
  <span class="container-text">{{ text1 }}</span>
  <span class="container-text1">
    This week&apos;s feature is &#123;gloverName&#125; from
    &#123;gloverhome&#125;. They have been gloving for &#123;timeGloving&#125;.
    &#123;gloverBio&#125;. Enjoy the show!
  </span>
  <video
    muted
    poster="https://play.teleporthq.io/static/svg/videoposter.svg"
    preload="auto"
    controls
    class="container-video"
  ></video>
  <video
    muted
    poster="https://play.teleporthq.io/static/svg/videoposter.svg"
    preload="auto"
    controls
    class="container-video1"
  ></video>
</div>
