:host { 
  display: contents; 
}
.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://play.teleporthq.io/static/svg/dmt at golden gorillas.jpg');
}
.home-banner {
  width: 100%;
  height: 790px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 45px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url("/assets/dmt%20at%20golden%20gorrilas-1500w.jpg");
}
.home-text {
  color: #cee44b;
  height: 244px;
  font-size: 5em;
  align-self: center;
  font-family: Fira Sans;
  padding-top: 0px;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container1 {
  width: 100%;
  height: 301px;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-image: linear-gradient(0deg, rgb(189, 195, 199) 0.00%,rgb(48, 190, 169) 100.00%);
}
.home-text1 {
  top: 25px;
  left: 25px;
  position: absolute;
}
@media(max-width: 767px) {
  .home-banner {
    height: 557px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .home-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
    background-size: auto;
  }
}
