<div class="videos-container">
  <span class="videos-text">Watch The Wizards in Action!</span>
  <app-container rootClassName="container-root-class-name2"></app-container>
  <div class="videos-container1">
    <span class="videos-text01">Bah blah blah about this video.</span>
    <span class="videos-text02">
      <span>This is the text talking about the featured videos</span>
      <br />
      <span>sadfsdffdsadddddddddddddddddddddddddddd</span>
      <br />
    </span>
    <video
      poster="https://play.teleporthq.io/static/svg/videoposter.svg"
      class="videos-video"
    ></video>
  </div>
  <div class="videos-container2">
    <span class="videos-text07">Bah blah blah about this video.</span>
    <span class="videos-text08">
      <span>This is the text talking about the featured videos</span>
      <br />
      <span>sadfsdffdsadddddddddddddddddddddddddddd</span>
      <br />
    </span>
    <video
      poster="https://play.teleporthq.io/static/svg/videoposter.svg"
      class="videos-video1"
    ></video>
  </div>
</div>
